<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="ru.otus.springhw1.service.CommonIOService">
    </bean>

    <bean id="questionReader" class="ru.otus.springhw1.utils.QuestionsReader">
        <constructor-arg type="String" value="/questions.csv"/>
    </bean>

    <bean id="registrationService" class="ru.otus.springhw1.service.RegistrationService">
        <constructor-arg name="io" ref="ioService"/>
    </bean>

    <bean id="questionService" class="ru.otus.springhw1.service.QuestionService">
        <constructor-arg name="io" ref="ioService"/>
        <constructor-arg name="reader" ref="questionReader"/>
    </bean>

    <bean id="questionnaireExecutor" class="ru.otus.springhw1.service.QuestionnaireExecutor">
        <constructor-arg name="io" ref="ioService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="registrationService" ref="registrationService"/>
    </bean>



</beans>
